body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}


.container {
  background: #4caf50;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fbfbfb;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.input button {
  padding: 12px;
  background: #00a1fe;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;

}

.input button:hover {
  background: #00a1fe;
}


#catatan {
  list-style: none;
  padding: 0;
  margin: 0;
}


.catatan-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding: 12px 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 90%;
}


.catatan-item span {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  flex: 1; 
}


.catatan-item div {
  display: flex;
  gap: 8px;
}


.catatan-item button {
  padding: 6px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: white;
}


.edit-btn {
  background: #3b8cfd
}
.edit-btn:hover {
  background:  #3b8cfd;
}


.delete-btn {
  background: #dc3545;
}
.delete-btn:hover {
  background: #c82333;
}


